// TYPOGRAPHY ================================================
// $base-font             : 'source-sans-pro', sans-serif;
// $base-font                : 'Open Sans', sans-serif;
$base-font                : 'ubuntu', sans-serif;
$heading-font             : $base-font;
$caption-font             : $base-font;
$code-font                : 'source-code-pro', monospace;
//$code-font                 : 'Ubuntu', monospace;
// $alt-font                 : 'volkhov', serif;
$alt-font                 : 'ubuntu', sans-serif;

$doc-font-size            : 18;
$doc-line-height          : 24; //24;
$border-radius            : 5px;


// set-up the body font-size / line-height
body {
  margin-top: 0px + $doc-line-height;
  font-size: 0px + $doc-font-size;
}


// COLORS =====================================================
$body-color               : #fff;
$text-color               : #262626; //#383838; //#222;
$base-color               : #383838; //00b2b3; // (highlighted text bg color)
$comp-color               : adjust-hue($base-color, 180);
$border-color             : #ddd;
$white                    : #fff;
$black                    : #262626; //#383838; //#000;
$accent-color             : $black;
$link-color               : #377574; //484848; //009ea2; //00b2b3; //262626; //#00b2b3; //#222;
$link-hover-color         : #808080; // adjust-hue($link-color, 180);
$link-visited-color       : #007d81; //#ff867E;

$table-border-color       : $border-color;
$table-border             : 1px solid $table-border-color;
$table-background         : $body-color;
$table-header-color       : lighten($table-background, 10);
$table-hover-color        : darken($table-background, 2);
$table-stripe-color       : darken($table-background, 4);
$table-stripe-color-hover : darken($table-stripe-color, 5);


// MEDIA QUERIES ==============================================
$micro                    : "only screen and (min-width: 30em)";
$small                    : "only screen and (min-width: 37.5em)";
$medium                   : "only screen and (min-width: 48em)";
$large                    : "only screen and (min-width: 62em)";
$x-large                  : "only screen and (min-width: 86.375em)";
